@import "tailwindcss";

:root {
  --background: #ffffff; /* Set a fixed background color */
  --foreground: #171717; /* Set a fixed foreground color */
  --primary-color: #501E16;
  --secondary-color: #2ecc71;
  --font-size: 16px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-noto-sans), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cuprum), sans-serif;
}

h1, h2 {
  font-size: 3.0rem;
  font-weight: lighter;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1rem;
}

.darkBG {
  background-color: var(--primary-color);
}

.primaryButton {
  background-color: white;
  color: black;
  width: 120px;
  border-radius: 30px;
  border-color: white;
}

.secondaryButton {
  background-color: transparent;
  color: black; /* Change to black for consistency */
  width: 120px;
  border-radius: 30px;
  border-color: black; /* Fix typo: 'balck' to 'black' */
}